
        <div class="timeline timeline-wrap">
    <div class="timeline-row timeline-row-major">
        <span class="node"><i class="fa fa-tag"></i></span>
        <h1 class="title">算法</h1>
    </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    
       
            <li class="timeline-article-title" (click)="onSelect('p01')"><span class="badge">7月8日</span> progress01</li>
    

                <div class="article-meta">
 
      
                    
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" (click)="onSelect('tag/gis')" href="javascript:;">#算法&nbsp;</a>, 
        <a class="tag-link" (click)="onSelect('tag/linux')" href="javascript:;">#GIS&nbsp;</a>, 
        <a class="tag-link" (click)="onSelect('tag/ml')" href="javascript:;">#地理信息&nbsp;</a>
    </div>

                </div>
            </div>
        </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    
        
            <li class="timeline-article-title" (click)="onSelect('p01')" ><span class="badge">5月8日</span> progress01</li>
    

                <div class="article-meta">


                    
                    
    <div class="article-tag">
        <i class="fa fa-tag"></i>
        <a class="tag-link" (click)="onSelect('tag/gis')" href="javascript:;">#GIS&nbsp;</a>, 
        <a class="tag-link" (click)="onSelect('tag/geoinfo')" href="javascript:;">#地理信息&nbsp;</a>,
        <a class="tag-link" (click)="onSelect('tag/crime')" href="javascript:;">#犯罪&nbsp;</a>
    </div>

                </div>
            </div>
        </div>
    
</div>