
<div class="home-sec" id="home" >
	   <div class="overlay">
	   <div class="row text-center ">
	   
		   <div class="col-lg-12  col-md-12 col-sm-12">
		   
				<ul id="elems">
					
					<li >
					   <h3>GeoThinking | 地 理 思 维</h3>
					   <h1>教 学 课 程</h1>
					</li>
					
					<li >
						<h3>GeoThinking | 地 理 思 维</h3>
					   <h1>科 研 成 果</h1>
					</li>
					
					<li>
						<h3>GeoThinking | 地 理 思 维</h3>
					   <h1>团 队 概 况</h1>
					   
					</li>
					
					<li>
						<h3>GeoThinking | 地 理 思 维</h3>
					   <h1>研 究 进 展</h1>
					</li>
					
				</ul>
		</div>
			
		   </div>
	   </div>
   </div>