
.timeline-wrap {
  margin: 40px 20px 40px 40px;
  border-left: 3px solid #dfe1e2;
}
@media screen and (max-width: 559px) {
  .timeline-wrap {
    margin: 40px 20px 40px 30px;
  }
}
@media screen and (min-width: 560px) and (max-width: 799px) {
  .timeline-wrap {
    margin: 40px 20px 40px 30px;
  }
}
.timeline-row:before,
.timeline-row:after {
  content: "";
  display: table;
}
.timeline-row:after {
  clear: both;
}
.timeline-row .node,
.timeline-row .title {
  float: left;
}
.timeline-row .node {
  width: 12px;
  color: #fff;
  height: 12px;
  border-radius: 50%;
  margin-left: -8px;
  display: inline-block;
  background-color: #38b7ea;
}
.timeline-row .content {
  margin-left: 25px;
  position: relative;
}
.timeline-row .content:after,
.timeline-row .content:before {
  content: '';
  position: absolute;
  display: inline-block;
}
.timeline-row .content:after {
  top: 10px;
  left: -14px;
  border: 7px solid transparent;
  border-right-color: #fff;
}
.timeline-row .content:before {
  top: 9px;
  left: -16px;
  border: 8px solid transparent;
  border-right-color: rgba(0,0,0,0.05);
}
.timeline-row .content h1 {
  font-size: 16px;
}
.timeline-row .content .article-meta {
  font-size: 12px;
  color: #898d92;
  border-top: 1px solid #f7f7f7;
  background-color: rgba(244,246,247,0.2);
}
.timeline-row-major .node {
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin: 0 0 0 -17px;
  padding: 6px 8px 10px;
}
.timeline-row-major .title {
  font-size: 18px;
  margin-left: 15px;
  line-height: 30px;
}


.timeline-row {
  list-style-type: none;  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.timeline-row li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 4px;
}
.timeline-row li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.timeline-row li.selected {
  background-color: #CFD8DC;
  color: white;
}
.timeline-row li.selected:hover {
  background-color: #BBD8DC;
}
.timeline-row .text {
  position: relative;
  top: -3px;
}
.timeline-row .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.4em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.tagcloud a:before {
    content: "#";
}