<div style="width:80%;overflow:hidden;margin:0px auto;">
<h1>研究进展</h1>
 <div style="float:right;position:relative;z-index:1;margin:40px 0px;border:1px solid black;border-radius:4px;padding:20px;">
        <h3  style="color:#38B7EA;text-align:center;margin-bottom:5px;color:red"><span>标签云</span></h3>
		<hr style="margin:0px auto;">
        <div class="widget tagcloud" style="padding:15px 5px;width:400px;display:block;word-wrap: break-word;">
            <a (click)="onSelect('tag/gis')" href="javascript:;" style="font-size: 20px;">GIS&nbsp;</a>
            <a (click)="onSelect('tag/linux')" href="javascript:;" style="font-size: 10px;">Linux&nbsp;</a> 
            <a (click)="onSelect('tag/map')" href="javascript:;" style="font-size: 10px;">地图&nbsp;</a> 
            <a (click)="onSelect('tag/geoinfo')" href="javascript:;" style="font-size: 20px;">地理信息&nbsp;</a> 
            <a (click)="onSelect('tag/bigdata')" href="javascript:;" style="font-size: 20px;">大数据&nbsp;</a>  
            <a (click)="onSelect('tag/ml')" href="javascript:;" style="font-size: 20px;">机器学习&nbsp;</a> 
            <a (click)="onSelect('tag/crime')" href="javascript:;" style="font-size: 20px;">犯罪&nbsp;</a> 
            <a (click)="onSelect('tag/algorithm')" href="javascript:;" style="font-size: 10px;">算法&nbsp;</a>
        </div>
    </div>
<div class="timeline timeline-wrap"style="float:left;position:relative;">
    
            <div class="timeline-row timeline-row-major">
                <span class="node"><i class="fa fa-calendar-o"></i></span>
                <h1 class="title">2017年</h1>
            </div>
    
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    
            <li class="timeline-article-title" (click)="onSelect('p01')"><span class="badge">7月</span> progress01</li>
    
    

                
            </div>
        </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    
            <li class="timeline-article-title" (click)="onSelect('p02')"><span class="badge">7月</span> progress02</li>
    

                
            </div>
        </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    

            <li class="timeline-article-title" (click)="onSelect('p03')"><span class="badge">5月</span> progress03</li>

    

                
            </div>
        </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    

            <li class="timeline-article-title" (click)="onSelect('p04')"><span class="badge">3月</span> progress04</li>

    

                
            </div>
        </div>
    
            <div class="timeline-row timeline-row-major">
                <span class="node"><i class="fa fa-calendar-o"></i></span>
                <h1 class="title">2016年</h1>
            </div>
    
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                
    

            <li class="timeline-article-title" (click)="onSelect('p05')"><span class="badge">6月</span> progress05</li>

    

                
            </div>
        </div>
    
</div>
</div>